Die Wiener Projekträume veranstalten gemeinsam zwei stadtweite Tage der offenen Tür.

Am Samstag und Sonntag, 25. und 26. Juni, jeweils von 12 bis 19 Uhr, erweitern alle 
teilnehmenden Räume ihre Öffnungszeiten und Besucher:innen können bei freiem Eintritt
laufende Ausstellungen und Veranstaltungen besuchen.

Am Freitag, den 24. Juni, finden in einigen der Räume abends Eröffnungsempfänge oder Veranstaltungen statt.

Das Programm kann mittels einer interaktiven digitalen Stadtkarte navigiert werden 
– wir geben via Newsletter Bescheid, sobald das Programm online ist.

Mit laufenden Ausstellungen in insgesamt {{ collections.locations.length }} Ausstellungsorten
sowie {{ collections.events.length }} begleitenden Veranstaltungen ist unser jährliches Programm 
eine einzigartige Gelegenheit, die Unabhängige Kunstszene Wiens in all ihrer Vielfalt kennen zu lernen.

Wir freuen uns auf Ihren Besuch!