---
title: Program • Independent Space Index 2022
layout: default
---

<div class="spaces-container">
    {# <div class="intro">
        <h1>Program</h1>
        <p class="text">
            All participating spaces have ongoing exhibitions and
            are open on Saturday and Sunday, June 25+26, from 12:00 - 19:00.
        </p>
    </div> #}
    <ul class="spaces">
    {% for location in collections.locations %}

        {% set programTypes = [] %}
        {% set programBlock %}
            {% for program in collections.programAndEvents | filterByLocation(location.data.id) %}
                {% set programTypes = (programTypes.push(program.data.type), programTypes) %}
                <div class="program-element accordion" data-type="{{program.data.type}}">
                    <div class="program-element__summary accordion-summary">
                        {# {% if program.data.type == 'event' %}
                        <div class="program-element__calendar">
                            <div class="day">SAT</div>
                            <div class="num">25</div>
                            <div class="mon">JUN</div>
                        </div>
                        {% endif %} #}
                        <div class="program-element__header">
                            <div class="program-element__event-type">
                                {{program.data.type}}
                                {%if program.data.type == 'event'%}
                                – {{program.data.start | date('cccc, MMMM d, H:mm')}}{%if program.data.end%}-{{program.data.end | date('H:mm')}}{%endif%}
                                {%endif%}
                            </div>
                            <h2 class="program-element__event-title">{{program.data.title | nl2br | safe}}</h2>
                        </div>
                    </div>
                    <div class="program-element__event-details text accordion-content">{{ program.templateContent | safe }}</div>
                    <button class="accordion-button">...</button>
                </div>
            {% endfor %}
        {% endset %}

        <div class="space" id="{{location.data.slug }}" data-program-types="{{ programTypes }}">
            <h1 class="space__title">{{ location.data.name }}</h1>
            <address class="space__address">
                    {{ location.data.address }}, {{ location.data.district | plz }} Vienna
            </address>
            {% if location.data.website != 'none' %}
            <address class="space__address">
                <a href="{{ location.data.website }}" target="_blank">{{ location.data.prettyurl }}</a>
            </address>
            {%endif%}
            <div class="space-buttons">
                <button class="btn show-on-map" data-id="{{ location.data.slug }}">Show on map</button>
                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{ location.data.lat }},{{ location.data.lng }}" class="btn directions">Get directions</a>
            </div>
            <br>
            
            <div class="program">
                {{ programBlock | safe }}
            </div>

            <div class="space__about">
                <p class="space__about__text">
                    {{ location.templateContent | safe }}
                </p>
            </div>
            <br>
            <div class="space__event-website">
                {% if space.data.eventWebsite %}
                    <a href="{{ space.data.eventWebsite }}" target="_blank">More info {% la 'external-link-alt' %}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </ul>
</div>