---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    {% include 'partials/_navigation.njk' %}
    {% include 'partials/_filters.njk' %}

    <div id="logo">
        <figure>
            <img src="/assets/images/schriftzug_weiss.png" alt="Independent Space Index 2022" srcset="">
        </figure>
    </div>

    <div id="map"></div>

    <main id="swup" class="transition-slide" data-slug="{{ page.fileSlug }}">
        {{ content | safe }}
    </main>
    
</body>
<script src="/assets/js/scripts.js"></script>
</html>