---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="slug-{{ page.fileSlug }}">
    {# only show navigation when site is live or in dev branch #}
    {%if (site.prelaunch == false) or (site.env == 'dev') %}
    {% include 'partials/_navigation.njk' %}
    {%endif%}
    {# {% include 'partials/_filters.njk' %} #}

    <div id="logo" class="{% if logoHidden %}is-hidden{%endif%}">
        <figure>
            <img src="/assets/images/schriftzug_weiss.png" alt="Independent Space Index 2022" srcset="">
        </figure>
    </div>

    <div id="map"></div>

    <main id="swup" class="transition-slide" data-slug="{{ page.fileSlug }}">
        {{ content | safe }}
    </main>

    <div class="darts-container">
        <div class="darts">
            <img src="/assets/images/darts.png" alt="">
        </div>
    </div>  
    
</body>
<script src="/assets/js/scripts.js"></script>
</html>