---

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="p-prelaunch">

    <div id="logo">
        <figure>
            <img src="/assets/images/sq_1_transparent.png" alt="Independent Space Index 2022" srcset="">
        </figure>
    </div>

    <div id="info" class="text">
    {{ content | safe }}
        <a href="https://www.instagram.com/independentspaceindex/">Instagram</a> •
        <a href="http://eepurl.com/gy2xV1">Subscribe to newsletter</a> •
        <a href="assets/documents/independentspaceindex.ics">export calendar event (.ics)</a> •
        <a href="https://independentspaceindex.at">More info</a>
    </div>

    <main>
    </main>

    
</body>
<script src="/assets/js/scripts.js"></script>
</html>