---
title: Events • Independent Space Index 2022
layout: default
---

<div class="spaces-container">
    <ul class="spaces events">
    {% for event in collections.events %}
    {% set location = collections.locations |getCollectionItemBySlug(event.data.location) %}
        <div class="space event" id="{{location.data.slug }}">
            <div class="event_heading">
                <div class="event_calendar">
                    <div class="day">{{event.data.start | date('ccc')}}</div>
                    <div class="num">{{event.data.start | date('dd')}}</div>
                    {# <div class="mon">{{event.data.start | date('MMM')}}</div> #}
                </div>
                <div class="event_time">
                    <div class="time">
                        {{event.data.start | date('H:mm')}}
                        {%if event.data.end %}
                         - {{event.data.end | date('H:mm')}}
                        {%endif%}
                    </div>
                    <h1 class="event_title">{{event.data.title}}</h1>
                </div>
            </div>
            <br>
            <div class="event_text">
                {{event.templateContent | safe}}
            </div>
            <br>
            <div class="event_space">
                <h1 class="space__title">{{ location.data.name }}</h1>
                <address class="space__address">
                        {{ location.data.address }}, {{ location.data.district | plz }} Vienna
                </address>
                <address class="space__address">
                    <a href="{{ location.data.website }}" target="_blank">{{ location.data.prettyurl }}</a>
                </address>
                <div class="space-buttons">
                    <button class="show-on-map btn" data-id="{{ location.data.slug }}">Show on map</button>
                    <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{ location.data.lat }},{{ location.data.lng }}" class="btn directions">Get directions</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>