[data-slug="events"] {
    @media (min-width: $mob) {
        & {
            max-width: 40vw;
        }
    }
}

.event {

    &_heading {
        display: flex;
        font-family: sans-serif;

        h1::before {
            display: none!important;
        }
    }

    &_title {
        font-size: var(--fs-heading);
    }

    &_time {
        .time {
            margin-bottom: .2em;
            font-family: monospace;
        }
    }

    &_calendar {
        width: 50px;
        margin-right: 1em;
        flex-shrink: 0;

        .day, .mon {
            margin-bottom: .2em;
            font-family: monospace;
        }
        .day {
            // border-bottom: 1px solid;
        }
        
        .num {
            // font-weight: bold;
            font-size: var(--fs-heading);
            @media (min-width: 900px) {
                font-size: 2.5vw;
            }
            margin-bottom: .2em;
            color: red;
            .space.is-selected & {
                color: black;
            }
            // font-family: monospace;
        }
    }

    &_text {
        max-width: 50ch;
        @include media('>tablet') {
            margin-left: calc(50px + 1rem);
        }
        text-indent: 2em;
    }

    &_space {
        @include media('>tablet') {
            margin-left: calc(50px + 1rem);
        }
        h1 {
            font-size: 1rem!important;
        }
        address {
            margin-left: 20px!important;
        }
    }
}