[data-slug="list"] {
    @media (min-width: $mob) {
        & {
            max-width: 40vw;
        }
    }
}

.spaces-container {
    max-width: 100%;
    border-right: 1px solid white;
}

.spaces {
    @include backdrop-blur;
    .space {
        padding: 1.3rem;
        // border-bottom: 1px solid white;
        // text-align: center;
        cursor: pointer;
        &:hover {
            background: rgba(255,255,255,0.5);
        }

        a {
            color: inherit;
            text-decoration: none;
            border-bottom: 1px dashed;
        }

        h1 {
            font-size: 1.8rem;
            @media (min-width: 900px) {
                & {
                    font-size: 2.5vw;
                }
            }
            margin-bottom: 1rem;
            font-family: sans-serif;
            &::before {
                content: "";
                display: inline-block;
                margin-right: .5em;
                border-radius: 50%;
                width: .7em;
                height: .7em;
                background: red;
            }
        }


        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        
        &.is-selected {
            
            h1::before {
                background: black;
            }
            background: rgba(255,255,255,0.5);
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }

        address {
            font-family: monospace;
        }

        &__event-title {
            font-style: italic;
            margin-bottom: .4rem;
        }

        &__text-content {
            max-width: 60ch;
            font-size: 1.2rem;
        }

        &__event-details {
            text-indent: 1rem;
        }

        &__event-website {
            margin-top: .4rem;
        }
    }
}