nav.filters {
    position: fixed;
    top: .5rem;
    left: .5rem;
    z-index: 10000;

    body[data-view="/info/"] & {
        display: none;
    }

    ul {
        display: flex;
        gap: .5em;
    }

    .button {
        cursor: pointer;
        font-size: 1.3rem;
        color: white;
        background: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 2.5rem;
        border-radius: 3em;
        margin-bottom: .3rem;
        padding: 0 .8em;

        &-reset {
            font-size: 2rem;
            color: white;
            background: $black;
            width: 2.5rem;
            border-radius: 50%;
            padding: 0;
        }

        &.is-active {
            background: red;
        }

        &:hover {
            background: red;
        }
    }
}