nav.main-nav {
    position: fixed;
    top: .5rem;
    right: .5rem;
    z-index: 10000;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .is-active-element {
            .button {
                background: $red;
            }
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: .5rem;
            .button {
                font-size: 2rem;
                color: white;
                background: $black;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                margin-bottom: .3rem;
            }
            span {
                font-size: .8rem;
                // text-transform: uppercase;
            }
        }

        @include media('>tablet') {
            .is-active-element {
                li {
                    background: $red;
                }
            }

            li {
                flex-direction: row;
                color: white;
                background: $black;
                border-radius: 100px;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 1em;

                .button {
                    background: transparent;
                    font-size: 1.5rem;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-bottom: 0;
                    height: auto;
                    width: auto;
                    margin-right: .3em;
                }
                span {
                    font-size: 1rem;
                    // text-transform: uppercase;
                }
            }
        }
    }
    
}