nav.main-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    width: 100%;

    transition: width .2s ease;
    
    background-color: white;
    
    @include media('>tablet') {
        .slug-program &, .slug-events &, .slug-info & {
            width: 60%;
        }
        bottom: initial;
        top: 0;
        background-color: transparent;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1.3em;

        .is-active-element {
            .button {
                background: $red;
            }
            .desktop {
                filter: brightness(0);
            }
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            .button {
                font-size: 2rem;
                color: white;
                background: $black;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                margin-bottom: .3rem;
            }
            span {
                font-size: .8rem;
                // text-transform: uppercase;
            }
        }

        .mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .desktop {
            display: block;

            img {
                height: 5vw;
                max-height: 2rem;
            }
        }
    }
    
}