.program {
    // margin-top: 1rem;
    padding: 1em 0;

    &-element {
        margin-bottom: .5em;
        padding: .5em 2em;
        max-width: 50ch;
        // margin-left: 10px;
        margin-top: -1px;
        position: relative;
        max-height: 200px;
        overflow: hidden;

        // &::after {
        //     content: "";
        //     background: linear-gradient(transparent, white);
        //     height: 20px;
        //     width: 100%;
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        // }

        &.is-hidden {
            display: none;
        }

        &__summary {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &__calendar {
            border: 1px solid;
            border-radius: 3px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50px;
            margin-right: 1em;

            .day, .mon {
                background-color: black;
                color: white;
                width: 100%;
                text-align: center;
                font-size: .8em;
            }

            .num {
                font-weight: bold;
                font-size: 2em;
            }
        }

        &__header {
            display: inline-flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: .4em;
        }

        h2 {
            display: inline-block;
            // font-weight: bold;
            font-size: 1.5em;
            margin-bottom: .3em;
        }

        &__event-type {
            text-transform: uppercase;
            font-family: monospace;
            font-size: .9em;
            // border: 1px solid;
            border-radius: 30px;
            // padding: .5em .7em;
            margin-left: 2rem;
            display: inline-block;
            // background-color: black;
            // color: white;
        }

        &__event-details {
            text-indent: 2em;
        }
    }
}