---
title: Independent Space Index 2022
layout: default
---

<div class="spaces-container">
    <ul class="spaces">
    {% for space in spaces %}
        <div class="space" id="{{space.spaceID}}">
            <h1 class="space__title">{{ space.spaceName }}</h1>
            <address class="space__address">
                <i class="la la-map-marker"></i>
                    {% if space.spaceData and space.spaceData.district %}
                    {{ space.spaceData.address }}, {{ space.spaceData.district | plz }} Vienna
                    {% else %}
                    {{ space.altAddress }}
                    {% endif %}
            </address>
            <address class="space__address">
                <i class="las la-link"></i> 
                {% if space.spaceData %}
                <a href="{{ space.spaceData.website }}" target="_blank">{{ space.spaceData.prettyurl }}</a>
                {% else %}
                <a href="{{ space.altWebsite }}" target="_blank">{{ space.altWebsite | url }}</a>
                {% endif %}
            </address>
            <br>
            <div class="space__text-content">
                <h2 class="space__event-title">{{space.eventTitle}}</h2>
                <p class="space__event-details">{{ space.eventDetails }}</p>
            </div>
            <div class="space__event-website">
                {% if space.eventWebsite %}
                    <a href="{{ space.eventWebsite }}" target="_blank">More info {% la 'external-link-alt' %}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </ul>
</div>