<nav class="filters">
    <ul>
        <li>
            <button class="button is-active" data-filter-value="all">
                All
            </button>
        </li>
        <li>
            <button class="button" data-filter-value="exhibition">
                Exhibitions
            </button>
        </li>
        <li>
            <button class="button" data-filter-value="event">
                Events
            </button>
        </li>
    </ul>
</nav>