{% set elements = [
    {name: 'map', icon: 'map', href: '/'}, 
    {name: 'program', icon: 'list', href: '/program/'}, 
    {name: 'events', icon: 'calendar', href: '/events/'}, 
    {name: 'info', icon: 'info', href: '/info/'}
] %}

<nav class="main-nav">
    <ul>
        {% for element in elements %}
        <a href="{{element.href}}" class="menu-link" data-view="{{element.href}}">
            <li>
                <div class="desktop">
                    <img src="/assets/images/nav-{{element.name}}.png" alt="">
                </div>
            </li>
        </a>
        {%endfor%}
    </ul>
</nav>