<nav class="main-nav">
    <ul>
        <a href="/" class="menu-link" data-view="/">
            <li>
                <div class="button">
                    <i class="la la-map"></i>
                </div>
                <span>Map</span>
            </li>
        </a>
        <a href="/program/" class="menu-link" data-view="/program/">
            <li>
                <div class="button">
                    <i class="la la-list"></i>
                </div>
                <span>List</span>
            </li>
        </a>
        <a href="/info/" class="menu-link" data-view="/info/">
            <li>
                <div class="button">
                    <i class="la la-info"></i>
                </div>
                <span>Info</span>
            </li>
        </a>
    </ul>
</nav>