<div class="signup-form-container">
    <form id="signup-form" class="signup-form" action="https://independentspaceindex.us3.list-manage.com/subscribe/post?u=0374c316ca0bed48cd24b414d&amp;id=c15dfe900b&amp;c=callback" method="post" target="_blank">
        <div id="js-form-inputs" class="inputs">
            <input class="c-form__input c-button" type="email" name="EMAIL" id="mce-EMAIL" value="" placeholder="mail@example.com" required>
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="c-form__input c-button">
                Subscribe
            </button>
        </div>
    
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" id="js-validate-robot" name="b_8d7d053576f22631489f1987e_32c3d6d6cf" tabindex="-1" value=""></div>
    
        <p id="js-subscribe-response"></p>
    </form>
</div>