$black: #222;
$red: red;
$white: white;

$mob: 660px;

:root {
    --fs-small: .9rem;
    --fs-medium: 1rem;
    --fs-large: 1.2rem;
    --fs-heading: 1.8rem;
}

@mixin appHeight {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}